.contact
{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
.contacts{
    position: relative;
    min-height: 60vh;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightpink;

}
.contacts p{
    font-weight: 300;
    color:#fff ;

}

.contacts h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}